<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <rule name="Static Content" stopProcessing="true">
          <match url="^(css|js|images|fonts)/.*" />
          <action type="Rewrite" url="{R:0}" />
        </rule>
        
        <rule name="API Routes" stopProcessing="true">
          <match url="^api/.*" />
          <action type="Rewrite" url="server.js" />
        </rule>
        
        <rule name="Specific Pages" stopProcessing="true">
          <match url="^(dashboard|sample-lawyer-page|clone)$" />
          <action type="Rewrite" url="server.js" />
        </rule>
        
        <rule name="Default Route" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
    
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
    
    <iisnode
      nodeProcessCommandLine="node"
      debuggingEnabled="false"
      logDirectory="iisnode"
      watchedFiles="*.js;*.json"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxLogFiles="20"
      devErrorsEnabled="false"
      flushResponse="false"
      enableXFF="false"
      promoteServerVars=""
      configOverrides="iisnode.yml"
      node_env="production"
    />
  </system.webServer>
</configuration>

